

/* --------------Base ele---------------------------- */

    * {
        box-sizing: border-box;
    }

    .main-header,
    .main-footer {
        text-align: center;
        background-color: rgb(255, 244, 228);
        background-image:linear-gradient( rgb(82, 20, 20),white, rgb(223, 210, 170))

    }

    .name {
        margin-top: 0;
        padding-top: 15px;
        font-family: 'lobster', cursive;
        color: rgba(83, 36, 36, 0.849);
        text-shadow: 1px 1px 2px rgb(255, 217, 0);
        
    }

    .main-nav {
        margin-bottom: 1em;
    }

    .main-nav li {
        background-color: rgb(230, 223, 216);
        border-radius: 60px;
        margin-bottom: 10px;
        font-family: 'Philosopher', sans-serif;
        padding: 7px;
        
    }

    .main-nav a {
        display: block;
        font-size: .95em;
        color: rgb(121, 80, 70);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 1000;
    }

    
    .main-header {
        background-image: url('../images/blackandwhitebooks2.jpg');
        background-color: blanchedalmond;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        op
    }

    .banner {
        text-align: center;
        background-image:linear-gradient(50deg, rgb(223, 210, 170) ,white , rgb(82, 20, 20) 80%);
        background-color: rgb(255, 244, 228);
    }

    .container {
        text-align: center;
    }


    .intro {
        color: rgb(0, 0, 0);
        text-align: center;
        text-shadow: rgb(124, 24, 24) 1px 0 10px;
        font-family: 'Philosopher', sans-serif;
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .contact {
        font-family: 'Satisfy' , cursive;
    }


/* -------------Base layout------------------------ */
    .logo {
    margin-top: 2em;
    width: 65%;
    border-radius: 10%;
    }

    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .main-footer {
        padding-top: 1px;

    }

    .location {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
/* ------------media queries------------------------ */



@media (min-width: 768px) {

    .name {
        margin-top: 0;
        
    }


    .main-nav li {
        display: inline-block;
        margin-right: 15px;
        margin-top: -15px;
        padding: 5px 15px;
    }

    .logo {
        float: right;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;
        width: 450px;
        
    }
    .intro {
        padding-top: 1.8em;
        padding-left: 40px;
        text-align: left;

    }

    .banner {
        width: 100%;
    }

    .first,
    .second {
        float: left;
        width: 50%;
    }

    .forth,
    .fifth {
        float: right;
        width: 50%;
    }

    .third,
    .sixth {

    }



}


@media (min-width: 1024px) {
    


    .name {
        float: left;
        margin-top: 20px;
        padding: 0;
        margin-left: 40px;
    }

    .main-nav {
        float: right;
        margin-top: 2em;
        margin-right: -3px;
    }


    .intro {
        font-size: 24px;
        width: 50%;
        margin: 0;
    }

    .logo {
        width: 550px;
        
    }

    .col {
        float: right;
        width: 33.3%;
    }
}
  



/* ------------------ Float clearfix ---------------- */

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
        }




